@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-ms-input-placeholder      {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}  
}

@mixin transition($args...) {
	-webkit-transition: $args;
		 -moz-transition: $args;
			-ms-transition: $args;
			 -o-transition: $args;
					transition: $args;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  90%)) {
	::-webkit-scrollbar {
		width:  $size;
		height: $size;
	}

	::-webkit-scrollbar-thumb {
		background: $background-color;
	}

	::-webkit-scrollbar-track {
		background: $foreground-color;
	}
	// IE
	body {
		scrollbar-face-color: $foreground-color;
		scrollbar-track-color: $background-color;
	}
}
