%primary-type {
  font-family: $font-family;
  font-size: 14px;
  color: $primary-color_text;
  line-height: 1.6em;
}

%center_horiz {
  display: flex;
  justify-content: center;
}

%center_horiz-vert {
  display: flex;
  align-items: center;
  justify-content: center;
}

%subtext {
  color: $secondary-color_text;
  font-size: 12px;
}

%box {
  padding: 20px 30px;
}
