$panel-width: 161.81px;
$panel-height: 123px;

.emoji-panel {
	position: absolute;
	right: calc(22px - #{$panel-width});
	bottom: calc(5px -  #{$panel-height});
	background: lighten($secondary-color, 3%);
	padding: 10px 10px;
	z-index: 999999999;
	border-radius: $border-radius;
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
	.wrapper-emoji {
		font-size: 16px;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-row-gap: 5px;
		grid-column-gap: 8px;
		span:hover {
			transform: scale(1.2, 1.2);
			cursor: pointer; 
		}
	}
}
