//===============
//  Modal Window
//===============
$width: 220px;
$height: 146px;
$neg_margin_top: calc( ((30px + 30px + #{$width})/2)*-1);
$neg_margin_left: calc( ((20px + 20px + #{$height})/2)*-1);

.modal_content {
	width: $width;
	height: $height;
	position: absolute; 
	top: 50%;
	left: 50%;
	margin: $neg_margin_top 0 0 $neg_margin_left;
	background: $secondary-color;
	font-size: 16px;
	z-index: 99999;
	@extend %box;
	.modal_text {
		color: $primary-color_text;
	}
	.wrapper_btn {
		margin-top: 40px;
		width: 100%;
		display: flex;
		justify-content: flex-end;      
	}
	button {
		height: 46px;
		border: 0;
		border-radius: 30px;
		text-transform: uppercase;
		padding: 10px 20px;
		cursor: pointer;
		@extend %primary-type;
		@include transition(background 0.3s ease-in-out, border-size 0.5s ease-in-out);
		&:focus {
			outline: 0;
		}
	}
	.cancel {
		border: 1px solid $secondary-color_text;
		background: $secondary-color;
		margin-right: 30px;
		&:hover, &:focus {
			border-width: 1.5px;
		}
	}
	.delete {
		background: darken($pink, 15%);        
		&:hover, &:focus {
			background: $pink;
		}
	}
}
