.reply-form {
	@extend %box;
	form {
		position: relative;
		border: 1px solid $darkPink;
		border-radius: $border-radius;
		@extend %center_horiz;
		@include transition(border-width 0.3s ease-in);
		&:focus-within{
			border-width: 1.5px;
		}
		textarea { 
			border: 0;
			background: $secondary-color;
			padding: 5px 10px;
			width: 100%;
			height: 22px;
			resize: none;
			overflow: hidden;
			white-space: pre;
			@extend %primary-type;
			@include placeholder{color: $primary-color_text; font-family: $font-family;}
			@include transition(height 0.3s ease-in);
			&:focus {
				outline: none;
				height: 66px;
				overflow: auto;
				@include placeholder{color: transparent; transition: color 0.2s ease;};
			}
		}     
	}
	footer {
		margin-top: 10px;
		display: flex;
		justify-content: space-between;    
		@extend %subtext;
	}
	.emoji-btn {
		position: absolute; 
		bottom: 5px;
		right: 5px;
		cursor: pointer;
		.fa-smile path {
			fill: $secondary-color_text;
			@include transition(fill 0.3s ease-in);
			&:hover {
				fill: lighten($secondary-color_text, 20%);
			}
		}
	}
}
